In [1]:
import numpy as np

import pandas as pd

data = pd.read_csv("E:\semester7\diabetics.csv")

print (data.shape)

data

(1151, 20)

,a,b,c,d,e,f,g,h,I,j,k,l,m,n,o,p,q,r,s,outcome
0,1,1,22,22,22,19,18,14,49.895756,17.775994,5.270920,0.771761,0.018632,0.006864,0.003923,0.003923,0.486903,0.100025,1,0
1,1,1,24,24,22,18,16,13,57.709936,23.799994,3.325423,0.234185,0.003903,0.003903,0.003903,0.003903,0.520908,0.144414,0,0
2,1,1,62,60,59,54,47,33,55.831441,27.993933,12.687485,4.852282,1.393889,0.373252,0.041817,0.007744,0.530904,0.128548,0,1
3,1,1,55,53,53,50,43,31,40.467228,18.445954,9.118901,3.079428,0.840261,0.272434,0.007653,0.001531,0.483284,0.114790,0,0
4,1,1,44,44,44,41,39,27,18.026254,8.570709,0.410381,0.000000,0.000000,0.000000,0.000000,0.000000,0.475935,0.123572,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,1,1,34,34,34,33,31,24,6.071765,0.937472,0.031145,0.003115,0.000000,0.000000,0.000000,0.000000,0.537470,0.116795,0,0
1147,1,1,49,49,49,49,45,37,63.197145,27.377668,8.067688,0.979548,0.001552,0.000000,0.000000,0.000000,0.516733,0.124190,0,0
1148,1,0,49,48,48,45,43,33,30.461898,13.966980,1.763305,0.137858,0.011221,0.000000,0.000000,0.000000,0.560632,0.129843,0,0
1149,1,1,39,36,29,23,13,7,40.525739,12.604947,4.740919,1.077570,0.563518,0.326860,0.239568,0.174584,0.485972,0.106690,1,1
1150,1,1,7,7,7,7,7,5,69.423565,7.031843,1.750548,0.046597,0.021180,0.008472,0.000000,0.000000,0.556192,0.088957,0,0

In [23]:
from sklearn.model_selection import train_test_split
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
x=pd.DataFrame(st.fit_transform(x))
print(x)

             0         1         2         3         4         5         6  \
0    -0.641486 -0.618782 -0.630029 -0.551116 -0.473745 -0.242917 -0.246003
1    -0.563391 -0.535778 -0.677410 -0.653676 -0.539992 -0.109250  0.032972
2     0.920417  0.958299  1.028299  0.936006  0.784951 -0.141383  0.227196
3     0.647084  0.667784  0.838776  0.730886  0.652456 -0.404199 -0.214977
4     0.217561  0.294265  0.412349  0.525766  0.387468 -0.788069 -0.672306
...        ...       ...       ...       ...       ...       ...       ...
1146 -0.172915 -0.120756  0.033302  0.115525  0.188727 -0.992560 -1.025806
1147  0.412798  0.501776  0.791395  0.833446  1.049939 -0.015387  0.198657
1148  0.412798  0.460274  0.601872  0.730886  0.784951 -0.575348 -0.422401
1149  0.022323 -0.037752 -0.440506 -0.807516 -0.937474 -0.403199 -0.485477
1150 -1.227200 -1.241314 -1.198599 -1.115197 -1.069968  0.091120 -0.743572

             7         8         9
0    -0.218324 -0.205124 -0.186169
1    -0.224256 -0.205175 -0.186281
2     0.335538 -0.110043 -0.164808
3     0.112573 -0.195765 -0.199541
4    -0.225828 -0.214968 -0.208100
...        ...       ...       ...
1146 -0.225828 -0.214968 -0.208100
1147 -0.225203 -0.214968 -0.208100
1148 -0.221309 -0.214968 -0.208100
1149  0.001120  0.386140  0.767878
1150 -0.217298 -0.214968 -0.208100

[1151 rows x 10 columns]

In [20]:
from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
x=pd.DataFrame(mm.fit_transform(x))
x

,0,1,2,3,4,5,6,7,8,9
0,0.140000,0.160305,0.173077,0.177083,0.147727,0.122764,0.106359,0.000362,0.000661,0.001271
1,0.153333,0.175573,0.163462,0.156250,0.136364,0.142126,0.142403,0.000076,0.000657,0.001264
2,0.406667,0.450382,0.509615,0.479167,0.363636,0.137472,0.167497,0.027106,0.007043,0.002509
3,0.360000,0.396947,0.471154,0.437500,0.340909,0.099403,0.110368,0.016340,0.001289,0.000496
4,0.286667,0.328244,0.384615,0.395833,0.295455,0.043799,0.051281,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
1146,0.220000,0.251908,0.307692,0.312500,0.261364,0.014179,0.005609,0.000000,0.000000,0.000000
1147,0.320000,0.366412,0.461538,0.458333,0.409091,0.155722,0.163809,0.000030,0.000000,0.000000
1148,0.320000,0.358779,0.423077,0.437500,0.363636,0.074612,0.083569,0.000218,0.000000,0.000000
1149,0.253333,0.267176,0.211538,0.125000,0.068182,0.099548,0.075419,0.010958,0.040346,0.056559
1150,0.040000,0.045802,0.057692,0.062500,0.045455,0.171150,0.042074,0.000412,0.000000,0.000000

In [21]:
from sklearn.feature_selection import RFE
from sklearn import svm
model=svm.SVC(kernel='linear')
rfe=RFE(model,n_features_to_select=10)
rfe.fit(x, y)
filter = rfe.support_
ranking = rfe.ranking_
print(filter)
print("-------------------------------------------------")
print(ranking)
print("-------------------------------------------------")

data=x[x.columns[filter]]
data["outcome"]=y
data.to_csv("newdata.csv",index=False)
print("Data shape = " , data.shape)
print("-------------------------------------------------")
data

[ True  True  True  True  True  True  True  True  True  True]
-------------------------------------------------
[1 1 1 1 1 1 1 1 1 1]
-------------------------------------------------
Data shape =  (1151, 11)
-------------------------------------------------

,0,1,2,3,4,5,6,7,8,9,outcome
0,0.140000,0.160305,0.173077,0.177083,0.147727,0.122764,0.106359,0.000362,0.000661,0.001271,0
1,0.153333,0.175573,0.163462,0.156250,0.136364,0.142126,0.142403,0.000076,0.000657,0.001264,0
2,0.406667,0.450382,0.509615,0.479167,0.363636,0.137472,0.167497,0.027106,0.007043,0.002509,1
3,0.360000,0.396947,0.471154,0.437500,0.340909,0.099403,0.110368,0.016340,0.001289,0.000496,0
4,0.286667,0.328244,0.384615,0.395833,0.295455,0.043799,0.051281,0.000000,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...
1146,0.220000,0.251908,0.307692,0.312500,0.261364,0.014179,0.005609,0.000000,0.000000,0.000000,0
1147,0.320000,0.366412,0.461538,0.458333,0.409091,0.155722,0.163809,0.000030,0.000000,0.000000,0
1148,0.320000,0.358779,0.423077,0.437500,0.363636,0.074612,0.083569,0.000218,0.000000,0.000000,0
1149,0.253333,0.267176,0.211538,0.125000,0.068182,0.099548,0.075419,0.010958,0.040346,0.056559,1
1150,0.040000,0.045802,0.057692,0.062500,0.045455,0.171150,0.042074,0.000412,0.000000,0.000000,0

In [22]:
data = pd.read_csv("newdata.csv")
x=data.iloc[:,:-1]
y=data.iloc[:,-1]
model=svm.SVC(kernel='rbf')
#X_train, X_test, y_train, y_test = train_test_split( test_size=0.2, stratify=X_test , random_state=42)
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.2 , random_state=42)
model.fit(X_train, y_train)
predections=model.predict(X_test)
from sklearn.metrics import accuracy_score
print(data.shape)
print(accuracy_score(y_test, predections))

(1151, 11)
0.6926406926406926